
<footer class="footer">
  <a class="footer-logo" href="/">
    <img src="/images/logo.png" alt="Learn Enough"/>
  </a>
  <nav>
  <ul class="footer-nav nav-links">
    {% include nav-links.html %}
  </ul>
</nav>
  <h3>Learn Enough <span>to Be Dangerous</span></h3>
</footer>
