<header class="header">
  <nav>
    <ul class="header-nav nav-links">
      {% include nav-links.html %}
    </ul>
  </nav>
  <a href="/" class="header-logo">
      <img src="/images/logo.png" alt="Learn Enough">
  </a>
</header>
